<%= form_for @block_new do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :block_number %> <br />
    <%= f.text_field :block_number %>
    <%= f.hidden_field :farm_id, :value => @farm.id %>

  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

