<h1>New Company Sign up</h1>

<%= form_for @company do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="field">
      <%= f.label :company_name %><br />
      <%= f.text_field :name %>
    </div>  <br />
     <h1> Add your first User</h1>
  <% for user in @company.users %>
      <%= fields_for "company[user_attributes][]", user do |user_form| %>
         <p>
          <%= user_form.label :user_email %> <br />
          <%= user_form.text_field :email %>
         </p>
         <p>
          <%= user_form.label :user_password %> <br />
          <%= user_form.password_field :user_password %>
          </p>
          <p>
          <%= user_form.label :password_confirmation %> <br />
          <%= user_form.password_field :user_password_confirmation %>
          </p>
      <% end %>
  <% end %>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
<% end %>