<h1>New Company Sign up</h1>

<%= form_for(@company) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="field">
      <%= f.label :company_name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
<% end %>