<h1>New Company Sign up</h1>

<%= form_for(setup_company(@company)) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

      <%= f.label :company_name %><br />
      <%= f.text_field :name %>
      <br />
     <h1> Add your first User</h1>

      <%= f.fields_for :users do |user_form| %>
         <p>
          <%= user_form.label :user_email %> <br />
          <%= user_form.text_field :email %>
         </p>
         <p>
          <%= user_form.label :user_password %> <br />
          <%= user_form.password_field :password %>
          </p>
          <p>
          <%= user_form.label :password_confirmation %> <br />
          <%= user_form.password_field :password_confirmation %>
          </p>
      <% end %>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

<% end %>
